In [1]:
from texascovid19 import constants
import requests
import pandas as pd
from datetime import date

Fetch each day's data.  The data is "current as of 8 p.m. the day before reporting."

In [2]:
r = requests.get(constants.DSHS_XHR_URL, verify=False)
r.raise_for_status()

/Users/dharbin/work/texascovid19/venv/lib/python3.7/site-packages/urllib3/connectionpool.py:1004: InsecureRequestWarning: Unverified HTTPS request is being made to host 'services5.arcgis.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning,

In [3]:
county_data = r.json()['features']

In [4]:
norm_county_data = []
for county in county_data:
        norm_county_data.append({
            'County of Residence': county['attributes']['County'],
            'Deaths': county['attributes']['Deaths'] or 0,
            'Number of Cases': county['attributes']['Count_']
        })

In [5]:
df = pd.DataFrame(data=norm_county_data)

In [6]:
df

    County of Residence  Deaths  Number of Cases
0                Harris     144             7128
1                Dallas     121             4623
2               Tarrant      83             2686
3                Travis      58             1876
4                 Bexar      52             1677
..                  ...     ...              ...
211           Red River       0                1
212             Refugio       0                1
213              Sabine       0                1
214            Stephens       0                1
215              Zavala       0                1

[216 rows x 3 columns]

In [7]:
df.set_index("County of Residence", inplace=True)

In [8]:
today = date.today().isoformat()

In [9]:
df.to_csv(f"{constants.DATA_PATH}/{today}.csv", header=True, index=True)

Append today's data to timeseries

In [10]:
df_timeseries = pd.read_csv(f"{constants.TIMESERIES_CSV}").set_index("County of Residence")

In [11]:
df_copy = df.copy()

In [12]:
df_copy.rename(columns={"Number of Cases": today}, inplace=True)

In [13]:
df_copy.drop("Deaths", axis=1, inplace=True)

In [14]:
if today in df_timeseries.columns:
    df_timeseries.drop(columns=today, inplace=True)

In [15]:
df_timeseries = pd.concat([df_timeseries, df_copy], axis=1).rename_axis('County of Residence')

In [16]:
df_timeseries = df_timeseries.fillna(0).convert_dtypes(convert_integer=True)

In [17]:
df_timeseries.to_csv(constants.TIMESERIES_CSV, header=True, index=True)

Also for deaths

In [18]:
df_timeseries = pd.read_csv(f"{constants.DEATHS_TIMESERIES_CSV}").set_index("County of Residence")

In [19]:
df_copy = df.copy()

In [20]:
df_copy.rename(columns={"Deaths": today}, inplace=True)

In [21]:
df_copy.drop("Number of Cases", axis=1, inplace=True)

In [22]:
if today in df_timeseries.columns:
    df_timeseries.drop(columns=today, inplace=True)

In [23]:
df_timeseries = pd.concat([df_timeseries, df_copy], axis=1).rename_axis('County of Residence')

In [24]:
df_timeseries = df_timeseries.fillna(0).convert_dtypes(convert_integer=True)

In [25]:
df_timeseries.to_csv(constants.DEATHS_TIMESERIES_CSV, header=True, index=True)